{# On hérite de base.html.twig: on récupere la même structure HTML et on remplace certains blocs#}
{% extends "base.html.twig"%}

{# On écrase le bloc "title" #}
{% block title %}
    Shart It!
{% endblock %}

{% block body %}
    <h1>Share It!</h1>
    <form method="post" id="down" action="{{link ('homepage')}}" enctype='multipart/form-data'>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" accept="image/png, image/jpeg">
            <label class="custom-file-label" for="file"> Télécharger un fichier </label>
            <input type="submit" name="submit">
        </div>
    </form>
{% endblock %}


{# <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"> #}