{# On hérite de base.html.twig: on récupere la même structure HTML et on remplace certains blocs#}
{% extends "base.html.twig"%}

{# On écrase le bloc "title" #}
{% block title %}
    Shart It!
{% endblock %}

{% block body %}
    <h1>Share It!</h1>
{% endblock %}